h1, h2 {
font-family:arial;
 color : white;
 font-size:22px;
 }
 p{ color: white; font-size:30px}
 body {
	font-family:arial;
	background-image: linear-gradient(90deg, red 25%, black 25%, black 50%, red 50%, red 75%, black 75%, black 100%);
	background-size: 160.00px 160.00px;
}
.tim {
	background-color:brown;
}
p,a {
	text-align:center;
}
.länk {
	text-decoration:none;
}
.ram {
	border:1px solid black
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
.meny, li, a {
	font-size: 25px;
	color : white;
	list-style:none;
	text-decoration:none;
}




