/*textfärg, storlek och stil.*/
h1, h2 {
font-family:arial;
 color : #FFCCCC;
 font-size:22px;
 }
  /*färg och storlek*/
 p{ color: #FFCCCC; font-size:30px}
 /*bakrundsbild*/
 body {
	font-family:arial;
	background-image: url("https://cutewallpaper.org/21/kodi-hd-wallpaper/Kodi-Sports-1920X1080-wallpaperFunny-Wallpapersdownload-.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
/*centrerar text*/
p,a {
	text-align:center;
}
/*centrerar bild*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22%;
}
/*storlek, färg och stil global meny*/
.meny, li, a {
	font-size: 25px;
	color : #FFCCCC;
	list-style:none;
	text-decoration:none;
}




